@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

.roleta {
    display: block;
    background-color: #f8f8f8;
    padding: 30px;
    text-align: center;
    color: #333;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 2.5em;
    cursor: pointer;
    color: #ac7707;
    margin-bottom: 20px;
}

input {
    width: 50%;
    padding: 15px;
    border: 1px solid #ac7707;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #ac7707;
}

button {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #ac7707;
    background-color: #ac7707;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

button:hover {
    background-color: #fff;
    color: #ac7707;
}

ol {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    input {
        margin-top: 15%; 
        width: 90%;
        font-size: 1.5em;
    }

    button {
        width: 90%;
        font-size: 1.5em;
    }

    h1 {
        font-size: 3.5em;
        margin-bottom: 20px;
    }

    h2 {
        text-align: left;
        font-size: 1.5em;
        margin: 20px;
        margin-top: 10%;
    }

    p {
        font-size: 1.5em;
        margin: 20px;
        margin-top: 10%;
        text-align: left;
    }

    ol {
        text-align: left;
        font-size: 1em;
        margin-top: 10%;
        margin: 20px;
    }

    li {
        margin: 20px;
        font-size: 1.5em;
    }
}